@import "partials/params";
@import "partials/mixins";

.auth {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 $auth-height;

    &__link {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
    }

}
