@import "partials/params";
@import "partials/mixins";

$font-color: #fff;

.nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 $nav-height;
    padding: 0 30px;
    width: 100%;
    color: $font-color;

    background-color: transparent;

    &__brand {

    }

    &__menu {
    @include clear-list;
    display: flex;
    height: $nav-height;
    }

    &__item {
    position: relative ;
    margin: 22px 15px 5px;
    font-style: 12px;
    &:hover {
        .nav__menu-border {
            opacity: 1;
        }
    }
    }

    &__link {
        color: $font-color;
    }

    &__menu-border {
        position: absolute;
        bottom: 0;
        display: block;
        height: 1px;
        width: 100%;
        opacity: 0;
        background-color: $font-color;
        transition: .3s opacity;
    }
}
